#title{
    justify-content: center;
    background-color: rgb(183, 247, 215);
    width: 100%;
    font-style: oblique;
    color: rgb(51, 51, 51);
    border-radius: 50px;
}

body{
    background-color: rgb(241, 255, 183);
}

.center{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
#buttons{
    margin: 0 auto;
    width: 100%;
    display:flex;
    justify-content: center;
}

#gridContainer {
    margin: auto;
    height: auto;
    width: fit-content;
    border-radius: 10px;
    background-color: cyan;
    padding: 10px;
    text-align: center;
}


.gridFile{
    margin: auto;
    padding: 0px;
    text-align: center;
}

.gridUnit {
    margin: 5px;
    margin-left:0.01px;
    /* border: 0.01px solid black; */
    border-radius: 15%;
    text-align: center;
    background-color: white;
    display: inline-block;
}


.button{
    margin:2%;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border:none;
    background-color: rgb(91, 182, 50);
    color: rgb(219, 231, 219);
    font-weight: bolder;
    font-size: larger;
    outline: none;
    box-shadow: 0 5px rgb(122, 122, 122);
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
