.center{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
#buttons{
    margin: 0 auto;
    width: 100%;
    display:flex;
    justify-content: center;
}

#gridContainer {
    margin: auto;
    height: auto;
    width: fit-content;
    border-radius: 10px;
    background-color: cyan;
    padding: 10px;
    text-align: center;
}


.gridFile{
    margin: auto;
    padding: 0px;
    text-align: center;
}

.gridUnit {
    margin: 5px;
    margin-left:0.01px;
    border: 0.01px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    display: inline-block;
}

