.center{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}
#buttons{
    margin: 0 auto;
    width: 100%;
    display:flex;
    justify-content: center;
}

#gridContainer {
    margin: auto;
    height: auto;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}


.gridFile{
    margin: auto;
    padding: 0px;
    text-align: center;
}

.gridUnit {
    margin: auto;
    border: 0.01px solid black;
    background-color: white;
    text-align: center;
    color: white;
    display: inline-block;
   /* width: 30px;
    height: 30px;
    display: inline;*/
}

